<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <title>Ryan's Solution</title>
  </head>
  <body>
    <nav>
      <div class="header">
        <div class="logo">Django Dashboard</div>
        <div class="search">
          <input type="text" placeholder="Search Here" />
          <button>Search</button>
        </div>
      </div>
      <div class="info">
        <div class="menu">
          <i class="fas fa-tachometer-alt"></i><a href="#">Dashboard</a>
        </div>
        <div class="menu">
          <i class="fas fa-address-card"></i><a href="#">User Profile</a>
        </div>
        <div class="menu">
          <i class="fab fa-modx"></i><a href="#">Product List</a>
        </div>
        <div class="menu">
          <i class="fas fa-envelope"></i><a href="#">Subscription</a>
        </div>
        <div class="menu">
          <i class="fas fa-sign-out-alt"></i><a href="#">Logout</a>
        </div>
        <div class="menu"><i class="fas fa-info"></i><a href="#">About</a></div>
      </div>
      <div class="copyright">&copy Ryan 2020</div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
